[run]
source =
    src
    Utils
    .

omit =
    */site-packages/*
    */dist-packages/*
    */tests/*
    */test_*.py
    */__pycache__/*
    */.pytest_cache/*
    conftest.py
    setup.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
    except ImportError

[html]
directory = coverage_html